{
  "ecmaFeatures": {
    "jsx": true,
    "experimentalObjectRestSpread": true
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "array-bracket-spacing": "error",
    "block-spacing": "error",
    "comma-spacing": ["error", {"before": false, "after": true}],
    "comma-style": ["error", "last"],
    "computed-property-spacing": "error",
    "eol-last": "error",
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "indent": ["error", 2, {"SwitchCase": 1}],
    "linebreak-style": ["error", "unix"],
    "key-spacing": ["error", {"beforeColon": false, "afterColon": true}],
    "quotes": ["error", "double"],
    "semi": ["error", "always"]
  }
}
